.two-columns__brief {
  display: flex;
  justify-content: space-between;
  width: 175px;
  color: #2f80ed;
  font-weight: normal;
  line-height: 1.2;
  font-size: 18px;
  margin: 0 auto;
  padding: 0;
}
