.cards {
  width: 920px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style-type: none;
}

.cards li:nth-child(2) {
  margin: 0 100px;
}

.cards li:nth-child(5) {
  margin: 0 100px;
}
